<!DOCTYPE html>
<html>
<head>

  <style>
    /* green */
    .fieldValid {
        background: #00ff00;
    }
    /* red */
    .fieldInvalid {
        background: #ff0000;
    }
</style>

  <!-- Picking up the angular library from a CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
</head>

<!-- Mark this as an Angular app -->
<body ng-app="myapp">

<!-- Everything in this div is part of the MyController angular controller. -->
<div ng-controller="MyController" >

  <form name="myFormNg">

    <!-- get the first name  -->
    <!-- validate that the firstName is >= 2 and <= 15 -->
    <input type="text" name="firstName" ng-model="myForm.firstName" ng-minlength="2" ng-maxlength="15" ng-required ng-class="myForm.getFormFieldCssClass(myFormNg.firstName)"> First name <br/>
    <div ng-show="myFormNg.firstName.$invalid">
    You must enter a valid first name, from 2 to 15 characters.
    </div>

    <!-- get the last name  -->
    <!-- validate that the lastName is >= 4 and <= 10 characters -->
    <input type="text" name="lastName"  ng-model="myForm.lastName" ng-minlength="4" ng-maxlength="10" required ng-class="myForm.getFormFieldCssClass(myFormNg.lastName)" > Last name <br/>
    <div ng-show="myFormNg.lastName.$invalid">
    You must enter a valid last name.
    </div>

    <!-- Lets make sure age is all digits -->
    <!-- ^ = beginning of the string -->
    <!-- \d = digit -->
    <!-- + = one or more -->
    <!-- $ = end of string -->
    <!-- one or more digits from the first character of the string to the last character of the string -->
    <!--- HTML attributes -->
    <!-- number, min and max -->
    <input type="number" id="age" ng-model="myForm.age" ng-pattern="/^\d+$/" min=1 max=115>Age<br/>

    <!-- Checkbox if I have agreed to some agreement -->
    <!--- The two default values are "true" and "false" -->
    Sign Agreement: <input type="checkbox" ng-model="myForm.signedAgreement" >
    <br/>
    <!-- Checkbos to determine if the user wants some news letter -->
    <!-- We set the two default values to either "yes" or "no" -->
    Wants News Letter: <input type="checkbox" ng-model="myForm.wantNewsletter"
                        ng-true-value="yes" ng-false-value="no" >

   <fieldset>
    <label>Newsletter Subscription</label>
    Daily <input type="radio" ng-model="myForm.whichNewsletter" value="dailyNews">
    Weekly <input type="radio" ng-model="myForm.whichNewsletter" value="weeklyNews">
    Monthly <input type="radio" ng-model="myForm.whichNewsletter" value="monthlyNews">
  </fieldset>

    <!-- Drop down to select a Car model -->
    <!-- <<option binding expression >> <<datasource expression>> -->
    <!-- << obj.id as obj.name>> <<for obj in myForm.options>> -->
    <!--  build the drop down options from this code -->
    <select ng-model="myForm.car" ng-options="obj.id as obj.name group by obj.type for obj in myForm.options">
      <option value="">Please choose a car</option>
      <!-- hard coded options are gone -->
    </select>
  </form>

  <hr/>
  <div>
    Name: {{myForm.firstName}} {{myForm.lastName}}
    <br/>
    Age: {{myForm.age}}
    <br/>
    Agreement: {{myForm.signedAgreement}}
    <br/>
    Wants Newsletter: {{myForm.wantNewsletter}}
    <br/>
    Newsletter Subscription: {{myForm.whichNewsletter}}
    <br/>
    Selected Car: {{myForm.car}}
  </div>
  </div>



  <script>
    // Creating a application module named 'mayapp'
    angular.module("myapp", [])
    // Creating a controller named "MyControlller"
            .controller("MyController", function($scope) {

              // set the myForm property on $scope to
              // an object literal
                $scope.myForm = {};
                // put two properties on the myForm property
                // of the $scope
                // $scope.myForm.firstName = "Jakob";
                // $scope.myForm.lastName  = "Jenkov";
                // $scope.myForm.age  = 33;

                // Init the default for the agreement to NOT signed
                $scope.myForm.signedAgreement = false;

                // Init the default for the wants newsletter
                $scope.myForm.wantNewsletter = 'yes';

                // Init the default to use the weekly subscription
                $scope.myForm.whichNewsletter = 'weekly';

                // $scope.myForm.car = 'nissan';

                // Populate the drop down options
                $scope.myForm.options = [
                { id: "nissan", name: "Nissan", type:"foreign" },
                { id: "ford", name: "Ford", type:"domestic" },
                { id: "toyota", name: "Toyota", type:"foreign" },
                { id: "gm", name: "General Motors", type:"domestic" } ,
                { id: "fiat"  , name: "Fiat", type:"foreign" }
             ];

             // Add a method to the $scope that will set the class of the input
             // field depending if it's valid or NOT.
             $scope.myForm.getFormFieldCssClass = function(ngModelController) {
                    //console.log("getting css class: " + ngModelController.$valid) ;

                    // If the input field has NOT been changed, it's pristine,
                    // The set it's class to an empty string""
                    if(ngModelController.$pristine){
                      return "";
                    }
                    // If the input field is valid then set the class to "fieldValid"
                    // otherwise set it to fieldInvalid
                    return ngModelController.$valid ? "fieldValid" : "fieldInvalid";
                }
            } );
</script>

</body>
</html>
