<!DOCTYPE html>
<html>
  <head>
    <script src="bower_components/angular/angular.js"></script>
  </head>

  <body ng-app="myapp">

    <div ng-controller="MyController as ctrl" >
      <form>
        <!-- Bind the input field to the myForm.firstName -->
        <input type="text" name="firstName" ng-model="ctrl.myForm.firstName"> First name <br/>
        <!-- Bind the input field to the myForm.lastName -->
        <input type="text" name="lastName"  ng-model="ctrl.myForm.lastName"> Last name <br/>
      </form>

      <div>
        <!-- Just show the models/properties bound to the input field -->
        {{ctrl.myForm.firstName}} {{ctrl.myForm.lastName}}
      </div>
    </div>

    <script>
      angular.module("myapp", [])
      .controller("MyController", function() {
      this.myForm = {};
      // init the name
      this.myForm.firstName = "Jakob";
      this.myForm.lastName  = "Jenkov";
      } );
    </script>

  </body>
</html>
